@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body {
    overflow: hidden;
}

.bg-jumb {
    background: linear-gradient(to bottom, #00b894, #b2bec3);
    height: 100vh;
    color: #fff;
}

.bg-light {
    background: linear-gradient(to bottom left, #bdc3c7, #ecf0f1);
    height: 100vh;
    color: #000;
}

.bg-dark {
    background: #2d3436;
    height: 100vh;
    color: #fff;
}

nav > h4 {
    font-family: 'Inconsolata', monospace;
}

#content {
    margin-top: 10% !important;
}

@media (max-width: 575.98px) {
    #content {
        margin-top: 0  !important;
    }
}